/*
selected tag{
    property: value;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

@media (max-width: 767px) {
    .navbar-nav > li > a,
    .navbar-brand {
      padding: 10px 15px; 
    }
  }

.navbar,
.navbar-default {
  margin-bottom: 0px;
  border: none;
  padding-bottom: 0px;
}

.my-custom-navbar {
  background-color: #5CE1E6 !important;
  font-family: "Chewy", cursive;
  margin-bottom: 0;
}

.my-custom-navbar .navbar-brand,
.my-custom-navbar .navbar-nav > li > a,
.my-custom-navbar .navbar-nav.navbar-right > li > a {
  color: #000000 !important;
}

.my-custom-navbar .navbar-brand {
  font-weight: bold;
}

.my-custom-navbar .navbar-nav > li > a:hover,
.my-custom-navbar .navbar-nav > li > a:focus,
.my-custom-navbar .navbar-nav.navbar-right > li > a:hover,
.my-custom-navbar .navbar-nav.navbar-right > li > a:focus {
  color: #000000 !important; 
}

/* Welcome */
.welcomeDiv {
    text-align: center;
    margin: 0;
    padding: 0;
    background: #333;
    margin-top: 0; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Chewy", cursive;
    letter-spacing: 4px;
  }


.welcomeDiv h1 {
    font-size: 7em; 
    color: #5CE1E6;
    margin-bottom: 0px; 
    margin-top: 0px;
}

.welcomeDiv h2 {
    font-size: 2.5em; 
    margin-bottom: 10px; 
    color:azure;
}

.welcomeDiv img {
    width: 300px;
    height: auto;
}

.welcomeDiv p {
    font-size: 2.2em;
    margin-bottom: 15px; 
    color: azure;
}

.welcomeDiv button {
    padding: 10px 10px; 
    font-size: 1em; 
    background-color: #5CE1E6; 
    color: #000; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.welcomeDiv button:hover {
    background-color: #555;
}


/*Questions*/

.questionDiv {
    text-align: center;
    margin-top: 20px;
    font-family: "Chewy", cursive;
}

.question {
    margin-bottom: 20px;
    
}

.question h3 {
    font-size: 1.2em; 
    margin-bottom: 10px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.options label {
    margin-right: 30px; 
}

.progress {
    
    margin-top: 20px;
}

.form-check {
    
    margin-bottom: 10px;
}

/*Submit answers + soon to be added animation*/
.submitDiv button{
    padding: 10px 10px; 
    font-size: 1em; 
    background-color: #5CE1E6; 
    color: #000; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/*footer*/

.footer {
    background-color: #333; 
    padding: 20px;
    text-align: center;
    font-family: "Chewy", cursive;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links,
.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li,
.social-icons li {
    display: inline;
    margin-right: 20px; 
}

.footer-links a,
.social-icons a {
    text-decoration: none;
    color: #5CE1E6; 
}

.social-icons a {
    display: flex;
    align-items: center;
}


.social-icons .fab {
    margin-right: 5px;
}


